/*



*/

body{
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}

p{
}

div.box{
    background-color: lightgray;
    opacity: 0.98;

    text-align = center;
    align = center;

    border-radius: 5px;
    border-style: none;
    border-width: medium;
    border-color: lightgreen;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;

    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;

}

/* ---------------------------------------------

CAPÇALERA DEL LOGIN

-----------------------------------------------*/

div.header{

    position: fixed;
    background-color: DarkSlateGray;
    margin: 0%;
    color: white;
    height: 90px;
    width: 100%;
    z-index: 10;

}

.grid-container {
  content: "";
  display: grid;
  grid-gap: 10px;
  clear: both;

}


.header-text{
width: 100%;
grid-area: 1/1/span 1/span 8;
padding: 5px;
}

.header-button{
width: 95%;
grid-area: 1/auto/span 1;
padding: 5px;
}

/* ---------------------------------------------

CALENDARI

-----------------------------------------------*/

/*Contenidor del calendari*/
.calendar-container {
  content: "";
  display: flex;
  padding: 0px;
  border: 0px;
  justify-content: center;
  width: 100%;

}

/*Llista de calendaris*/
.calendar-list{
    width: 15%;
    background-color: darkslategray;
    overflow: auto;
   text-align: center;
}

.calendar-list button{
    background-color:#2f5d5a;
}

.calendar-list button:hover{
    background-color:#3c7773;
}
.calendar-list h2{
    color:white;
}
.calendar-list h3{
    color:white;
}
.calendar-list p{
    color:white;
    justify-content: center;
    align: center;
}

/*Llista de tasques en el calendari*/
.calendar-tasks{
    background-color:#2f5d5a;
    height:150px;
    width: auto;
    transition: height 0.5s, width 0.5s, visibility 0s;
}

.calendar-tasks:hover{
    background-color:#2f5d5a;
    height:220px;
    display:flex;
}

.calendar-tasks .hiddenText{
    visibility: hidden;
}

.calendar-tasks .shownText{
    visibility: visible;
}

.calendar-tasks:hover .hiddenText{
    visibility: visible;
}

.calendar-tasks:hover .shownText{
    visibility: hidden;
}

.calendar-tasks:hover h2{
    transform: rotate(90deg);
}

.calendar-tasks:hover .calendar-tasksTitle{
    width:20%;
}

.calendar-tasksDescription{
    background-color: #3c7773;
    width:0%;
    height:0%;
}

.calendar-tasks:hover .calendar-tasksDescription{
    width:80%;
    height:auto;
    background-color: #3c7773;
}

/*Parts del calendari*/

.calendar {
  content: "";
  padding: 0px;
  border: 0px;
  clear: both;
  justify-content: center;
  background-color: lightgray;
  width: 70%;
  align: center;

}

.calendar-month {
    width: 100%;
    background-color: darkslategray;
    display: flex;
}

.calendar-month button {
    width: 40%;
    background-color: darkslategray;
}

.calendar-month button:hover {
    background-color: #2f5d5a;
}

.calendar-week {
    width: 100%;
    background-color: darkslategray;
    text-align: center;
}

.calendar-week p,button{
    width: 100%;
    color: white;
    text-align: center;
}

.calendar-weekdays {
    width: 100%;
    background-color: #2f5d5a;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}
.calendar-weekdays div {
    width: 100%;
    align-items: center;
    color: white;
}

.calendar-days{
    display: flex;
    /*
    grid-auto-columns: calc(100%/7);
    grid-auto-rows: calc(100%/24);
    grid-template-columns: auto auto auto auto auto auto auto;
    align-content: none;
    grid-auto-flow: none;
     /*Els 7 dies de la setmana*/
    border: 1px;
    height: 1450px;

}

.calendar-day{

    text-align: center;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100%;

}

/*Esdeveniments del calendari*/
.calendar-events{

    cursor: pointer;
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 93%;
    word-break: break-all;
    word-wrap: break-all;
    overflow: auto;
    transition: height 2s, width 2s, z-index 2s;
    z-index: 2;

}

.calendar-events:hover {
    width:250%;
    height:500%;
    z-index:3;
}

.calendar-events:hover .hiddenText{
    visibility:visible;
}

.calendar-events .hiddenText{
    visibility:hidden;
    transition: visibility 1s;
}

/*Taules de l'historial d'elements del calendari*/
.user-elements-box{
    background-color: darkslategray;
    text-align: center;
}

.user-elements{
    display: flex;
    width:100%;
}

/*Taula d'esdeveniments*/
.eventCalendar-list{
    width:50%;
    background-color:white;
}

.eventCalendar-list h1, th{
    background-color: #2f5d5a;
    color: white;
}

.eventCalendar-list table{
    width: 100%;
    overflow-x:auto;
}

.eventCalendar-list tr:nth-child(even){
    background-color: #d9d9d9;
}

.eventCalendar-list button{
    background-color: #3c7773;
}

/*Taula de tasques*/

.taskCalendar-list{
    width:50%;
    background-color:white;
}

.taskCalendar-list h1, th{
    background-color: #2f5d5a;
    color: white;
}

.taskCalendar-list table{
    width: 100%;
    overflow-x: auto;
}

.taskCalendar-list tr:nth-child(odd){
    background-color: #d9d9d9;
}

.taskCalendar-list button{
    background-color: #3c7773;
}

/* ---------------------------------------------

BOTONS

-----------------------------------------------*/

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align=center;
  transition: height 0.1s, background-color 0.5s;
}

input[type=submit]:hover {
  background-color: green;
}

button{
width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align=center;
  transition: height 0.1s, background-color 0.5s;
}

button:hover {
  background-color: green;
}

span.error{
    color: red;
}

