<!--#{extends 'main.html' /}-->
#{set title:'Inici' /}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="box">
    #{if publicCalendars != null}
    #{if publicCalendars.size() > 0}
    #{table publicCalendars, as:'pcal'}
    #{column 'Calendari'}
    ${pcal.calName}
    #{/column}


    #{column ''}
    <button type="button", onclick="window.location.href='@{Application.AddCalendarSubscription(pcal.id)}';">
        Subscriu-me
    </button>
    #{/column}

    #{/table}


    #{/if}
    #{else}
    <p>No hi ha cap calendari públic. Sigues el primer en compartir el teu calendari!</p>
    #{/else}
    #{/if}
    #{else}
    <p>No hi ha cap calendari públic. Sigues el primer en compartir el teu calendari!</p>
    #{/else}

</div>

</body>
<!--{welcome /}-->