<!--#{extends 'main.html' /}-->
#{set title:'Inici' /}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="box">
<form action="@{Application.CreateCalendar(calName, description)}">
    <label for="calName">Nom del calendari:</label><br>
    <input type="text" id="calName" name="calName"><br>
    <label for="description">Descripció:</label><br>
    <input type="text" id="description" name="description"><br>

    <label for="isPublic">Calendari Públic</label><br>
    <input type="radio" id="isPublic" name="isPublic">

    <input type="submit" value="Crear calendari">
</form>
</div>

</body>
<!--{welcome /}-->