<!--#{extends 'main.html' /}-->
#{set title:'Inici' /}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="box">
<form action="@{Application.CreateTask()}">
    <label for="taskName">Nom de la tasca:</label><br>
    <input type="text" id="taskName" name="name"><br>
    <span class="error">#{error 'name'/}</span><br>

    <label for="description">Descripció:</label><br>
    <input type="text" id="description" name="description"><br>
    <span class="error">#{error 'description'/}</span><br>

    <label for="taskDate">Data:</label><br>
    <input type="datetime-local" id="taskDate" name="date" value="${TodayDateTimeLocal}"><br>
    <span class="error">#{error 'date'/}</span><br>

    <label for="calName">Calendari:</label><br>
    <select id="calName" name="calName" style="width:190px">
    #{list user.ownedCalendars, as:'cal'}
        <option value="${cal.calName}">${cal.calName}</option>
        #{/list}
    </select><br>
    <span class="error">#{error 'calName'/}</span><br>

    <input type="submit" value="Crear tasca">

    #{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
    #{/if}
</form>
</div>
</body>
<!--{welcome /}-->