<!--#{extends 'main.html' /}-->
#{set title:'Inici' /}
<head>
    <meta charset="UTF-8">
    <title>LinCal</title>
</head>
<body>


<div class="grid-container header">
    <div class="header-text">
    <h3>benvingut a LinCal, ${userN}</h3>
    </div>
    <div class="header-button">
    <button type="button" onclick="window.location.href='@{Application.Logout()}';">
    Tanca Sessió
    </button>
    </div>
    <div class="header-button">
    <button type="button" onclick="window.location.href='@{Application.DeleteUserForm()}';">
    Esborra el compte
    </button>
    </div>
</div>

<br><br><br><br>
<div class="box">

<button type="button" onclick="window.location.href='@{Application.AddCalendar()}';">
    Afegeix un calendari
</button>

<button type="button" onclick="window.location.href='@{Application.CreateCalendarForm()}';">
    Crear un calendari
</button>

<button type="button" onclick="window.location.href='@{Application.CreateTaskForm()}';">
    Crea una tasca
</button>

<button type="button" onclick="window.location.href='@{Application.CreateEventForm()}';">
    Crea una Esdeveniment
</button>


</div>


#{if flash.messageOK}
<p>
    ${flash.messageOK}
</p>
#{/if}

</div>


<div class="calendar-container">
    <div class="calendar">
    <div class="calendar-month">
        <button> Setmana anterior</button>
        <div class="calendar-week">
        <h1>${Month}</h1>
            <p>${Week}, ${Today}</p>
        </div>
        <button> Setmana posterior</button>

    </div>

    <div class="calendar-weekdays">
        <div>Dilluns</div>
        <div>Dimarts</div>
        <div>Dimecres</div>
        <div>Dijous</div>
        <div>Divendres</div>
        <div>Dissabte</div>
        <div>Diumenge</div>
    </div>
    <div class="calendar-days">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

    </div>
    </div>

</div>

#{if events != null}
#{if events.size() > 0}
#{table events, as:'e'}
#{column 'Nom Esdeveniment'}
${e.name}
#{/column}
#{column 'Data d\'Inici'}
${e.startDate}
#{/column}
#{column 'Data de finalització'}
${e.endDate}
#{/column}

#{column 'Data de finalització'}
<button type="button">
    Esborra
</button>
#{/column}

#{/table}


#{/if}
#{/if}

<script src="@{'/public/javascripts/calendar.js'}"></script>
</body>
<!--{welcome /}-->