<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinCal</title>
</head>
<body>
<h3>benvingut a LinCal, ${userN}</h3>


<button type="button" onclick="window.location.href='@{Application.DeleteUserForm()}';">
    Esborra el compte
</button>

<button type="button" onclick="window.location.href='@{Application.CreateCalendarForm()}';">
    Crear un calendari
</button>

<button type="button" onclick="window.location.href='@{Application.CreateTaskForm()}';">
    Crea una tasca
</button>

<button type="button" onclick="window.location.href='@{Application.CreateEventForm()}';">
    Crea una Esdeveniment
</button>

<button type="button" onclick="window.location.href='@{Application.Logout()}';">
    Tanca Sessió
</button>

#{if flash.messageOK}
<p>
    ${flash.messageOK}
</p>
#{/if}

</body>
</html>