<!--#{extends 'main.html' /}-->
#{set title:'Inici' /}
<head>
    <meta charset="UTF-8">
    <title>LinCal</title>
</head>
<body>


<div class="grid-container header">
    <div class="header-text">
    <h3>benvingut a LinCal, ${user.userName}</h3>
    </div>
    <div class="header-button">
    <button type="button" onclick="window.location.href='@{Application.Logout()}';">
    Tanca Sessió
    </button>
    </div>
    <div class="header-button">
    <button type="button" onclick="window.location.href='@{Application.DeleteUserForm()}';">
    Esborra el compte
    </button>
    </div>
</div>

<br><br><br><br>
<div class="box">

<button type="button" onclick="window.location.href='@{Application.CreateCalendarForm()}';">
    Crear un calendari
</button>

<button type="button" onclick="window.location.href='@{Application.AddCalendarForm()}';">
    Afegeix una subscripció
</button>

<button type="button" onclick="window.location.href='@{Application.CreateTaskForm()}';">
    Crea una tasca
</button>

<button type="button" onclick="window.location.href='@{Application.CreateEventForm()}';">
    Crea una Esdeveniment
</button>


<button type="button" onclick="window.location.href='@{Application.AdminCalendarForm()}';">
    Administra els calendaris
</button>


<button type="button" onclick="window.location.href='@{Application.DeleteCalendarForm()}';">
    Esborra un calendari
</button>

</div>

<div>
#{if flash.messageOK}
<p>
    ${flash.messageOK}
</p>
#{/if}

</div>


<div class="calendar-container">
    <div class="calendar-list">
        <h1>CALENDARIS</h1>
        #{if ((calendarSelectedID == 0)||(calendarSelectedID == null))}
        <button onclick="window.location.href='@{Application.SelectCalendar(0)}'" style="background-color:green">Tots els calendaris</button>
        #{/if}
        #{else}
        <button onclick="window.location.href='@{Application.SelectCalendar(0)}'">Tots els calendaris</button>
        #{/else}
        <h3>Propis</h3>
        #{list user.ownedCalendars, as:'cal'}
        #{if cal.id == calendarSelectedID}
        <button onclick="window.location.href='@{Application.SelectCalendar(cal.id)}'" style="background-color:green">${cal.calName}</button>
        #{/if}
        #{else}
        <button onclick="window.location.href='@{Application.SelectCalendar(cal.id)}'">${cal.calName}</button>
        #{/else}
        #{/list}

        <h3>Subscripcions</h3>

        #{list user.subscriptions, as:'sub'}
        #{if sub.calendar.id == calendarSelectedID}
        <button onclick="window.location.href='@{Application.SelectCalendar(sub.calendar.id)}'"
                style="background-color:green">${sub.calendar.calName}</button>
        #{/if}
        #{else}
        <button onclick="window.location.href='@{Application.SelectCalendar(sub.calendar.id)}'">
            ${sub.calendar.calName}</button>
        #{/else}
        #{/list}

    </div>
    <div class="calendar">
    <div class="calendar-month">
        <button onclick="window.location.href='@{Application.ChangePage(-1)}';"> Setmana anterior</button>
        <div class="calendar-week">
            <h1>${Month}</h1>
            <p>${Week}, ${Today.toLocaleString()}</p>
            <button onclick="window.location.href='@{Application.ChangePage(0)}';"> Avui</button>
        </div>
        <button onclick="window.location.href='@{Application.ChangePage(1)}';"> Setmana posterior</button>

    </div>

    <div class="calendar-weekdays">
        <div>Dilluns</div>
        <div>Dimarts</div>
        <div>Dimecres</div>
        <div>Dijous</div>
        <div>Divendres</div>
        <div>Dissabte</div>
        <div>Diumenge</div>
    </div>
    <div class="calendar-days">


        #{list [1,2,3,4,5,6,0], as:'d'}
        <div class="calendar-day">

            #{list eventsShow, as:'e'}

            #{if ((e.calendar.id == calendarSelectedID)||(calendarSelectedID == 0)||(calendarSelectedID == null))}

            #{if e.startDate.getDay() == d}
            #{if e.endDate.getDay() == e.startDate.getDay()}
            <div class="calendar-events" draggable="true" style="
            height: calc(60 * (${e.endDate.getHours()}px - ${e.startDate.getHours()}px) + (${e.endDate.getMinutes()}px - ${e.startDate.getMinutes()}px));
            top: calc(60 * ${e.startDate.getHours()}px + ${e.startDate.getMinutes()}px + 5px);
            left: 3%;
            "
            onmouseout="this.style.height='calc(60 * (${e.endDate.getHours()}px - ${e.startDate.getHours()}px) + (${e.endDate.getMinutes()}px - ${e.startDate.getMinutes()}px))'"
                 onmouseover="this.style.height='max(25%,calc(60 * (${e.endDate.getHours()}px - ${e.startDate.getHours()}px) + (${e.endDate.getMinutes()}px - ${e.startDate.getMinutes()}px)))'"
            >
                <h3>${e.name}</h3>
                <p>Calendar: ${e.calendar.calName}</p>
                <p style="font-size:11px;">${e.startDate.getDate()}-${e.startDate.getMonth()}, ${e.startDate.getHours()}:${e.startDate.getMinutes()} ~
                ${e.endDate.getDate()}-${e.endDate.getMonth()}, ${e.endDate.getHours()}:${e.endDate.getMinutes()}</p>
                <p class="hiddenText">${e.description}</p>
                <p class="hiddenText">Direcció: ${e.addressPhysical}</p>
                <p class="hiddenText">Enllaç: <a href="//${e.addressOnline}" style="background-color:white;">${e.addressOnline}</a></p>

            </div>
            #{/if}
            #{else}
            <div class="calendar-events" draggable="true" style="
            height: calc(60 * (23px - ${e.startDate.getHours()}px) + (60px - ${e.startDate.getMinutes()}px));
            top: calc(60 * ${e.startDate.getHours()}px + ${e.startDate.getMinutes()}px + 5px);
            left: 3%;
            "
                 onmouseout="this.style.height='calc(60 * (23px - ${e.startDate.getHours()}px) + (60px - ${e.startDate.getMinutes()}px))'"
                 onmouseover="this.style.height='max(25%,calc(60 * (23px - ${e.startDate.getHours()}px) + (60px - ${e.startDate.getMinutes()}px)))'"

            >
                <h3>${e.name}</h3>
                <p>Calendar: ${e.calendar.calName}</p>
                <p style="font-size:11px;">${e.startDate.getDate()}-${e.startDate.getMonth()}, ${e.startDate.getHours()}:${e.startDate.getMinutes()} ~
                ${e.endDate.getDate()}-${e.endDate.getMonth()}, ${e.endDate.getHours()}:${e.endDate.getMinutes()}</p>
                <p class="hiddenText">${e.description}</p>
                <p class="hiddenText">Direcció: ${e.addressPhysical}</p>
                <p class="hiddenText">Enllaç: <a href="//${e.addressOnline}" style="background-color:white;">${e.addressOnline}</a></p>


            </div>
            #{/else}
            #{/if}
            #{elseif e.endDate.getDay() == d}
            <div class="calendar-events" draggable="true" style="
            height: calc(60 * (${e.endDate.getHours()}px) + (${e.endDate.getMinutes()}px));
            top: 5px;
            left: 3%;
            "
                 onmouseout="this.style.height='calc(60 * (${e.endDate.getHours()}px) + (${e.endDate.getMinutes()}px))'"
                 onmouseover="this.style.height='max(25,calc(60 * (${e.endDate.getHours()}px) + (${e.endDate.getMinutes()}px)))'"
            >
                <h3>${e.name}</h3>
                <p>Calendar: ${e.calendar.calName}</p>
                <p style="font-size:11px;">${e.startDate.getDate()}-${e.startDate.getMonth()}, ${e.startDate.getHours()}:${e.startDate.getMinutes()} ~
                ${e.endDate.getDate()}-${e.endDate.getMonth()}, ${e.endDate.getHours()}:${e.endDate.getMinutes()}</p>
                <p class="hiddenText">${e.description}</p>
                <p class="hiddenText">Direcció: ${e.addressPhysical}</p>
                <p class="hiddenText">Enllaç: <a href="//${e.addressOnline}" style="background-color:white;">${e.addressOnline}</a></p>
            </div>
            #{/elseif}
            #{/if}
            #{/list}
        </div>
        #{/list}


    </div>

    </div>
    <div class="calendar-list">
        <h1>TASQUES</h1>
        #{list tasks, as:'t'}

        #{if ((t.calendar.id == calendarSelectedID)||(calendarSelectedID == 0)||(calendarSelectedID == null))}
            <div class="calendar-tasks">
                <div class="calendar-tasksTitle">
                    <h2>${t.name}</h2>
                    <p class="shownText">Calendari: ${t.calendar.calName}</p>
                    <p class="shownText">${t.date.toLocaleString()}</p>
                </div>
                <div class="calendar-tasksDescription">
                    <p class="hiddenText">Calendari: ${t.calendar.calName}</p>
                    <p class="hiddenText">${t.date.toLocaleString()}</p>
                    <p class="hiddenText">${t.description}</p>
                </div>
            </div>
        #{/if}
        #{/list}
    </div>

</div>

<div class="user-elements-box">
<h1>HISTORIAL D'ELEMENTS</h1>
<div class="user-elements">

    <div class="eventCalendar-list">
        <h1>ESDEVENIMENTS</h1>
#{if events != null}
    #{if events.size() > 0}
        #{table events, as:'e'}
            #{column 'Nom Esdeveniment'}
            ${e.name}
            #{/column}
            #{column 'Calendari'}
            ${e.calendar.calName}
            #{/column}
            #{column 'Data d\'Inici'}
            ${e.startDate}
            #{/column}
            #{column 'Data de finalització'}
            ${e.endDate}
            #{/column}

            #{column}
            <button type="button" onclick="window.location.href='@{Application.DeleteEvent(e.id)}';">
                Esborra
            </button>
            #{/column}

            #{column}
            <button type="button" onclick="window.location.href='@{Application.EditEventForm(e.id)}';">
                  Edita
            </button>
            #{/column}
        #{/table}
    #{/if}
#{/if}
    </div>
    <div class="taskCalendar-list">
        <h1>TASQUES</h1>

#{if tasks != null}
#{if tasks.size() > 0}
#{table tasks, as:'t'}
        #{column 'Nom Tasca'}
        ${t.name}
        #{/column}
        #{column 'Calendari'}
        ${t.calendar.calName}
        #{/column}
        #{column 'Data'}
        ${t.date}
        #{/column}

        #{column 'Completada'}
        #{if t.completed}
            Sí
        #{/if}
        #{else}
            No
        #{/else}
        #{/column}

        #{column}
        <button type="button" onclick="window.location.href='@{Application.DeleteTask(t.id)}';">
            Esborra
        </button>
        #{/column}

        #{column}
        <button type="button" onclick="window.location.href='@{Application.EditTaskForm(t.id)}';">
            Edita
        </button>
        #{/column}


        #{column}

            #{if t.completed}
                <button type="button" onclick="window.location.href='@{Application.markTaskPending(t.id)}';">
                    Marca Pendent
                </button>
            #{/if}
            #{else}
                <button type="button" onclick="window.location.href='@{Application.markTaskDone(t.id)}';">
                    Marca Completada
                </button>
            #{/else}
        #{/column}

#{/table}
#{/if}
#{/if}
    </div>
</div>
</div>

<script src="@{'/public/javascripts/calendar.js'}"></script>
</body>
<!--{welcome /}-->