<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="@{Application.SignUp(fullName, username, email, password)}">
    <label for="fullName">Nom complet:</label><br>
    <input type="text" id="fullName" name="fullName"><br>
    <label for="email">Correu electrònic:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="username">Nom d'usuari:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Contrassenya:</label><br>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Crear Usuari">
</form>

#{if flash.error}
<p style="color:#c00">
    ${flash.error}
</p>
#{/if}

</body>
</html>